:root {
    --text-color: #434455;
    --white-color: #ffffff;
    --overlay-color: #2e2f42;
    --light-color: #f4f4fd;
    --primary-color: #4d5ae5;
    --pressed-color: #404bbf;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--white-background-color);
    color: var(--text-color);
}

.list {
    list-style: none;
}

.header {
    background-color: var(--white-background-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-color);
}

.logo__text {
    color: var(--overlay-color);
}

.menu__list {
    list-style: none;
}

.menu__item {

}

.menu__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--overlay-color);
    text-decoration: none;
}

.menu__link:hover {
    color: var(--pressed-color);
}

.menu__link:focus {
    color: var(--pressed-color);
}

.address {
    font-style: normal;
}

.contact__list {
    list-style: none;
}

.contact__item {

}

.contact__link {
    text-decoration: none;
    color: var(--text-color);
}

.contact__link:focus {
    color: var(--pressed-color);
}

.contact__link:hover {
    color: var(--pressed-color);
}

.hero {
    background-color: var(--overlay-color);
}

.hero__title {
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: var(--white-color);
    text-align: center;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.button:hover {
    background-color: var(--pressed-color);
}

.button:focus {
    background-color: var(--pressed-color);
}

.preference__title {

}

.preference__list {
    list-style: none;
}

.preference__item {

}

.preference__subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--overlay-color);
}

.preference__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio__title {

}

.portfolio__filter {
    list-style: none;
}

.portfolio__btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-color);
    background-color: var(--light-color);
    cursor: pointer;
}

.portfolio__btn:hover {
    color: var(--white-color);
    background-color: var(--pressed-color);
}

.portfolio__btn:focus {
    color: var(--white-color);
    background-color: var(--pressed-color);
}

.portfolio__content {
    list-style: none;
}

.portfolio__link {
    text-decoration: none;
}


.portfolio__subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--overlay-color);
}

.portfolio__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.services__title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--overlay-color);
}

.services__content {
    list-style: none;
}

.services__item {

}

.team {
    background-color: var(--light-color);
}

.team__title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--overlay-color);
}

.team__list {
    list-style: none;
}

.team__item {
    background-color: var(--white-color);
}

.team__img {

}

.team__name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--overlay-color);
}

.team__position {

}

.footer {
    background-color: var(--overlay-color);
}

.logo__text-footer {
    color: var(--light-color);
}

.footer__text {
    color: var(--light-color);
}
